	.hulp, 
	.fbLikeShare, 
	footer .container, 
	footer .secundnavbar, 
	.col-md-4.col-sm-4.aside .blok,
	a.btn.back,
	div.share.clearfix a,
	figure iframe,
	.overzichtlijst.related,
	.filter.filter-collapse.collapse.clearfix.algemeenfilter, 
	div.subnav{ display: none; }
	
	.col-md-8.col-sm-8.contentarea {width: 100%; padding-right: 30px;}
	
	.col-md-4.col-sm-4.aside .blok.colorbg.lichtpaars { margin-left: 30px; }
	
	div.background.img{ width: 1000px; height: 310px; }

	div.background.large.img{ width: 1000px; height: 310px; }
	
	.col-md-9.detail-content { margin-top: 50px; margin-left: 0; }
	
	footer{ border: none; }
	
	.detail-content .contentarea .content blockquote,
	.mod.box.closed.downloads ul li { padding: 10px; }
		
	.detail-content .row .contentarea .content figure.top img,
	.detail-content .row .contentarea .content figure.bottom img,
	.detail-content .row .contentarea .content figure.fexibleblock.image img {
		height: 250px;
	}
	
	.detail-content .row .contentarea .content figure.left img,
	.detail-content .row .contentarea .content figure.right img {
		width: 95%;
	}
	
	.col-md-9.detail-content{
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	
	@media print and (-webkit-min-device-pixel-ratio:0) {
	    
	    .col-md-9.detail-content { margin-top: 120px; margin-left: 0; }
	    
	    .detail-content .row .contentarea .content figure.left,
		.detail-content .row .contentarea .content figure.right {
			width: 47%!important;
		}
	    
	    .detail-content .row .contentarea .content figure.left img, 
	    .detail-content .row .contentarea .content figure.right img{
	    	width: 95%!important;;
	    }
	    
	    .col-md-9.detail-content .col-md-8.col-sm-8.contentarea, 
	    .col-md-9.detail-content .col-md-8.col-sm-8.contentarea .content { padding-left: 0;}
	    
	    .detail-content .contentarea .content figure.gallery.row { margin-right: 0!important; margin-left: 0!important;}
	    .gallery.row a.col-xs-6.col-sm-4.col-md-4 {width: 32.3%!important; margin-left: 0.5%!important; margin-right: 0.5%!important;}
	    .gallery.row a img {width: 100%!important;}
	}