/* ---------------------------------------------------------------------- */
/* topmenu and topmenu menu hovering limits */
/* ---------------------------------------------------------------------- */

.nav#mainnav ul.dropdownmenu.visible-lg.visible-md.clearfix li ul li ul
	{
	padding-left: 0;
	padding-bottom: 0;
	padding-top: 0;
}

#main.landing .col-sm-6.col-md-3.area ul li.arrow-side ul {
	padding-left: 0;
	padding-bottom: 0;
	padding-top: 0;
}

/* ---------------------------------------------------------------------- */
/* hovering limits */
/* ---------------------------------------------------------------------- */
@media ( min-width : 992px) {
	.navbar .container .nav#mainnav li {
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.navbar .container .nav#mainnav li.last {
		padding-right: 0;
	}
}

@media ( min-width : 1200px) {
	.navbar .container .nav#mainnav li {
		padding-left: 28.5px;
		padding-right: 28.5px;
		margin-left: 0;
	}

	.navbar .container .nav#mainnav li.last {
		padding-right: 0;
	}
}

.navbar .container .nav#mainnav li ul.dropdownmenu.visible-lg.visible-md.clearfix li {
	padding-left: 0px; padding-right: 0;
}

.navbar .container .nav#mainnav li ul.dropdownmenu.visible-lg.visible-md.clearfix li,
.navbar .container .nav#mainnav li ul.dropdownmenu.visible-lg.visible-md.clearfix li ul li {
	padding-left: 0px; padding-right: 0;
}

.navbar .container .nav#mainnav li ul.dropdownmenu.visible-lg.visible-md.clearfix li ul li{
	padding-left: 20px;
}

@media (min-width: 768px){
	.navbar .container .nav#mainnav li.active {
		border-bottom: none;
		padding-bottom: 0;
	}

	.navbar .container .nav#mainnav li.active ul.dropdownmenu.visible-lg.visible-md{
		margin-top: 0;
	}

	.navbar .container .nav#mainnav li.active a {
		border-bottom: 3px solid #008383;
		padding-bottom: 8px;
	}
	
	.navbar .container .nav#mainnav li.active ul.dropdownmenu.visible-lg.visible-md a {
		padding-bottom: 0;
		border-bottom: none;
	}
}

/* ------------- */
/* public images */
/* ------------- */

.images2 + .pager-wrapper .pager ul li,  
.images3 + .pager-wrapper .pager ul li, 
.images4 + .pager-wrapper .pager ul li { list-style: none; background: none; padding-left: 10px; }

.images2 { width: 100%; float: left; }

.images2 .singleImage { width: 50%; float: left; margin-bottom: 2%; }

.images2 .singleImagePadding { width: 95%; float: center; margin-left: 2.5%; }

.images2 .singleImagePadding img { display: block; width: 100%; float: left; }

.images2 .singleImagePadding img { display: block; width: 100%; float: left; }

.images3 { width: 100%; float: left; }

.images3 .singleImage { width: 33.333%; float: left; margin-bottom: 2%; }

.images3 .singleImagePadding { width: 95%; float: center; margin-left: 2.5%; }

.images3 .singleImagePadding img { display: block; width: 100%; float: left; }

.images4 { width: 100%; float: left; }

.images4 .singleImage { width: 25%; float: left; margin-bottom: 2%; }

.images4 .singleImagePadding { width: 95%; float: center; margin-left: 2.5%; }

.images4 .singleImagePadding img { display: block; width: 100%; float: left; }

/* ---------------------------------------- */
/* flexible block image and paragraph image */
/* ---------------------------------------- */

figure.fexibleblock.image img {
	width: 100%;
}

.detail-content .row .contentarea .content figure.left,
.detail-content .row .contentarea .content figure.right {
	width: 47.5%
}

/* ------- */
/* twitter */
/* ------- */

.button-block.twitter {
	width: 100%;
	float: left;
	background: #fff;
}

.button-block.twitter img {
	width: 100%;
}

.twitteritem h2 {
	margin-bottom: 0;
}

.twitteritem h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.aside .button-block.twitter .col-sm-4,
.aside .button-block.twitter .col-sm-4.half,
.col-xs-6.col-sm-6.col-md-3 .button-block.twitter .col-sm-4,
.col-xs-6.col-sm-6.col-md-3 .button-block.twitter .col-sm-4.half
{
	width: auto;
}

.button-block.twitter .col-sm-4.half {
	width: 50%;
}

/* ---------------- */
/* facet navigation */
/* ---------------- */

.filterlist .checkbox .cbimg {
	padding-right: 10px;
}

h2.noQueryResults { font-size: 1.2em; color: #23114c; font-family: 'source_sans_prosemibold';
	font-weight: 400; font-style: normal;
}

/* --------------------- */
/* temporary blog author */
/* --------------------- */

.panel-body p {
	margin: 0;
}

.panel-body .pull-left {
	margin-right: 10px;
}

.panel-body .media-body {
	width: 50%;
	padding: 0;
}

.panel-body .media-body ul.social {
	list-style-type: none;
	width: 100%;
	padding: 0;
	display: block;
	float: left;
	margin-top: 5px;
	margin-bottom: 20px;
}

.panel-body .media-body ul.social li {
	display: inline;
	float: left;
	background: #23114c;
	width: 20px;
	height: 20px;
	text-align: center;
	margin-left: 7px;
}

.panel-body .media-body ul.social li a {
	color: rgb(255, 255, 255);
	margin-top: 3px;
}

/* ----------------- */
/* faq overview page */
/* ----------------- */

.media-body.accordian h2.media-heading {
	width: 90%;
	float: right;
}

.media-body.accordian+div {
	width: 90%;
	float: right;
}

.media-body.accordian+div blockquote {
	float: left;
}

/* ------------- */
/* lectorat page */
/* ------------- */

.col-md-8.col-sm-8.contentarea .content+div.content {
	padding-top: 0;
}

/*  if a different style is needed for the first item
	ul.nav.navbar-nav.lectoraten li.firstItem { color: rgb(102, 102, 102); } 
*/

/* ----------------------------- */
/* left naavigation highlighting */
/* ----------------------------- */

.subnav ul li.active a {
	background: #c8c3d2
}

.subnav ul li.active ul li.arrow-side a {
	background-color: white;
	font-family: source_sans_prolight;
}

.subnav ul, .subnav ul li.active ul li.arrow-side a:after {
	border-top: none;
}

.subnav ul li.current ul{ 
	border-top: 1px solid #c8c3d2;
}

.subnav ul li.active ul li.arrow-side a:after, .subnav ul li.current ul li:last-child  {
	border-bottom: none;	
}

.subnav ul li.current ul li a {
	padding-left: 15px;
}

.subnav ul li.current ul li.current ul li a, .subnav ul li.current ul li.active ul li a {
	padding-left: 30px;
}

/* ------------ */
/* image teaser */
/* ------------ */
.blok.download.image {
	min-height: 260px;
}

.blok.download.image img.icon.imageTeaser {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 40%;
	margin: -50px 0 0 -50px;
	padding: 15px;
	background: center #fff;
}

.catalog.image.teasers, .blok.download.image, .blok.download.image a .img img{
	width: 100%;
}

.catalog.image.teasers section.blok.download.image {
	padding: 0;
	margin: 0 0 20px 0;
}

.catalog.image.teasers .blok.download.image a {
	height: 100%;
}

nav.col-md-3.col-xs-12 .catalog.image.teasers,
aside.col-md-4.col-sm-4 .catalog.image.teasers {
	max-width: 260px;
	margin: 0 auto;
}

/* ------------------- */
/* landing page titles */
/* ------------------- */

#main.landing .row .area h1 {
	font-size: 3em;
}

.col-sm-6.col-md-3.area .truncate {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* ------------- */
/* related items */
/* ------------- */

.aside .overzichtlijst.related,.content .overzichtlijst.related,nav.col-md-3.col-xs-12 .overzichtlijst.related
	{
	padding: 0;
}

.aside .overzichtlijst.related article,.content .overzichtlijst.related article,nav.col-md-3.col-xs-12 .overzichtlijst.related article
	{
	padding-top: 0;
	padding-bottom: 12px;
	padding-left: 10px;
	padding-right: 0;
}

.aside .overzichtlijst.related article a,.content .overzichtlijst.related article a,nav.col-md-3.col-xs-12 .overzichtlijst.related article a
	{
	width: 100%;
	display: block;
}

.aside .overzichtlijst.related figure.media-object.pull-left,nav.col-md-3.col-xs-12 .overzichtlijst.related figure.media-object.pull-left
	{
	margin-right: 10px;
	width: 60px;
	height: 60px;
}

.content .overzichtlijst.related figure.media-object.pull-left {
	margin-right: 10px;
	width: 100px;
	height: 100px;
}

@media (max-width: 767px){
	.content .overzichtlijst.related figure.media-object.pull-left {
		width: 100px!important;
	}
}

.aside .overzichtlijst.related .media .datum,nav.col-md-3.col-xs-12 .overzichtlijst.related .media .datum
	{
	left: 10px;
	top: 20px;
}

.content .overzichtlijst.related .media .datum {
	left: 10px;
	top: 60px;
}

.aside .overzichtlijst.related a.more,.content .overzichtlijst.related a.more,nav.col-md-3.col-xs-12 .overzichtlijst.related a.more
	{
	margin-top: 0;
	margin-bottom: 15px;
}

.aside .overzichtlijst.related h2.widgetTitle,
.content .overzichtlijst.related h2.widgetTitle,
.detail-content .overzichtlijst.related h2.widgetTitle,
nav.col-md-3.col-xs-12 .overzichtlijst.related h2.widgetTitle,
.overzichtlijst.related h2.widgetTitle {
	font-size: 1.571em;
	color: #23114c;
	font-family: 'source_sans_proregular';
	font-weight: 400;
	font-style: normal;
	display: inline-block;
	margin: 0 0 0.7em 0;
	padding-left: 10px;
	padding-top: 10px;
}

.aside .overzichtlijst.related .media.clearfix:first-child,
.content .overzichtlijst.related .media.clearfix:first-child,
.detail-content .overzichtlijst.related .media.clearfix:first-child,
nav.col-md-3.col-xs-12 .overzichtlijst.related .media.clearfix:first-child,
.overzichtlijst.related .media.clearfix:first-child {
	padding-top: 0.7em;	
}

/* -------------------- */
/* info block bachelors */
/* -------------------- */
.col-md-4.col-sm-4.aside figure.datum.large.info {
	position: absolute;
	left: -50px;
	top: -60px;
	padding-top: 20px;
	z-index: 1
}

.col-md-4.col-sm-4.aside time.datum.large.info {
	position: absolute;
	left: -50px;
	top: -60px;
	z-index: 1
}

.col-md-4.col-sm-4.aside figure.datum.large.info img.info {
	width: 60px;
}

.aside section.blok.colorbg.lichtpaars.info {
	display: block;
} 

.aside section.blok.colorbg.lichtpaars.info.nolink {
	display: block;
	padding-bottom: 30px;
}

.aside section.blok.colorbg.lichtpaars.info ul {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 1em;
} 

.aside section.blok.colorbg.lichtpaars.info ul li {
	display: block;
	float: left;
	padding-left: 0;
}

.aside section.blok.colorbg.lichtpaars.info ul li img {
	display: block;
	float: left;
}

.aside section.blok.colorbg.lichtpaars.info ul li span.details {
	display: block;
	float: left;
	padding-left: 30px;
}

.aside section.blok.colorbg.lichtpaars.info p {
	display: block;
}

.aside section.blok.colorbg.lichtpaars.info a {
	display: block;
	float: left;
} 

.aside section.blok.colorbg.lichtpaars.info img.datum.large {
	padding-top: 0;
}

/* --------------- */
/* bachelors facet */
/* --------------- */
#main { min-height: 650px; }

.studiefilter.filter-collapse ul li {
	padding-left: 0;
}

.studiefilter.filter-collapse ul li a {
	display: block;
	float: left;
	width: 100%;
}

.studiefilter.filter-collapse ul li a img.cbimg {
	position: absolute;
	top: -1px;
	z-index: 2;
}

.studiefilter ul li span {
	padding-left: 38px;
	cursor: pointer;
	font-size: .857em;
	font-family: 'source_sans_proregular';
	font-weight: 400;
	font-style: normal;
	color: #fff;
	display: block;
	padding-top: 5px;
}

.studiefilter.filter-collapse ul li a:hover {
	text-decoration: none;
}

.studiefilter.filter-collapse ul li input[type="text"]{ margin-left: 0;}

/* -------------------------------------------------------------------------------- */
/* text, internal and external teasers can display on the right, background = white */
/* -------------------------------------------------------------------------------- */

nav.col-md-3.col-xs-12 .catalog.internalLinks.teasers .tekstitem ul li,nav.col-md-3.col-xs-12 .catalog.externalLinks.teasers ul li,.aside .catalog.internalLinks.teasers .tekstitem ul li,.aside .catalog.externalLinks.teasers ul li
	{
	padding-left: 20px;
	background: url("../img/li.png") 2px 6px no-repeat;
	background-size: 6px 6px;
}

.row.border-top .halfwidth { width: 50%; float: left; }

.catalog.externalLinks.teasers .col-xs-12.col-sm-6, .catalog.text.teasers .col-xs-12.col-sm-6, 
.catalog.internalLinks.teasers .col-xs-12.col-sm-6 { width: 100%; background: #fff;}

/* ------------------------------------------------ */
/* image and head teasers can display in the middle */
/* ------------------------------------------------ */

.content .catalog.head.teasers,.content .catalog.image.teasers {
	width: 100%;
}

.content .catalog.head.teasers .blok.colorbg.blauw.large a h1 {
	color: rgb(255, 255, 255);
	font-size: 3.429em;
	margin-bottom: 0px;
	line-height: .8em;
}

.content .catalog.head.teasers .blok.colorbg.blauw.large a h2,.content .catalog.head.teasers .blok.colorbg.groen.medium a h2
	{
	color: rgb(255, 255, 255);
	font-size: 1.714em;
	margin-bottom: 0px;
	line-height: 1.1;
	font-family: source_sans_prolight;
}

.content .catalog.head.teasers .blok.colorbg.groen.medium a h1 {
	color: rgb(255, 255, 255);
	font-size: 2.571em;
	margin-bottom: 0px;
	line-height: .8em;
}

/* ------------------------------------ */
/* contact widget can display on center */
/* ------------------------------------ */

.content .blok.colorbg.lichtpaars.contacts figure.col-md-4.col-xs-4.pull-left
	{
	width: 33.33333333% !important;
}

.content .blok.colorbg.lichtpaars.contacts h1 {
	font-size: 1.5em;
}

.content .blok.colorbg.lichtpaars.contacts h2 {
	font-size: 1.2em;
}

.content .blok.colorbg.lichtpaars.contacts ul.col-md-8.col-xs-8.pull-right li
	{
	margin: 0;
	background: none;
	padding: 0;
	padding-left: 15px;
}

/* --------------------------------------------------------- */
/* home page facet component, drill down facet, help needed  */
/* --------------------------------------------------------- */

.home .zoeken.col-xs-12.col-sm-12 .form label { width: 100%; }

.home .blok.snelkiezer .zoeken.col-xs-12.col-sm-12 form .form-group input { font-size: 1em;}
.snelkiezer.blok.colorbg.paars .zoeken.col-xs-12.col-sm-12,
.snelkiezer.blok.colorbg.paars { padding-bottom: 0;}

.snelkiezer.blok.colorbg.paars .zoeken.col-xs-12.col-sm-12.search {
	padding-bottom: 10px;
}

.zoeken.col-xs-12.col-sm-12 div.overviewItem {display:block; width:49.5%; float: left; }
.zoeken.col-xs-12.col-sm-12 div.overviewItem.left {margin-right: 0.5%;}
.zoeken.col-xs-12.col-sm-12 div.overviewItem.right {margin-left: 0.5%;}

@media ( max-width : 494px) {
	.zoeken.col-xs-12.col-sm-12 div.overviewItem {display:block; width:50%; float: left; }
	.zoeken.col-xs-12.col-sm-12 div.overviewItem.left {margin-right: 0;}
	.zoeken.col-xs-12.col-sm-12 div.overviewItem.right {margin-left: 0;}
	.zoeken.col-xs-12.col-sm-12 div.overviewItem {display:block; width:100%; float:right;}
}

@media (min-width : 495px) and (max-width : 599px) {
	.zoeken.col-xs-12.col-sm-12 .btn.fa.fa-search.no-radius {padding-left: 0; padding-right: 0;}
}

@media (min-width : 992px) and (max-width : 1199px) {
	.zoeken.col-xs-12.col-sm-12 .btn.fa.fa-search.no-radius {padding-left: 0; padding-right: 0;}
}

.zoeken.col-xs-12.col-sm-12 ul.overviewItem li.overviewItem { width: 100%; }

.zoeken.col-xs-12.col-sm-12 ul.overviewItem li.overviewItem a { background-color: white; }
.zoeken.col-xs-12.col-sm-12 ul.overviewItem li.overviewItem a { color: #23114c; } */

.zoeken.col-xs-12.col-sm-12 { padding-bottom: 0; }

.zoeken.col-xs-12.col-sm-12 ::-webkit-input-placeholder { color: white; }
.zoeken.col-xs-12.col-sm-12 :-moz-placeholder {color: white; }
.zoeken.col-xs-12.col-sm-12 ::-moz-placeholder {color: white; }
.zoeken.col-xs-12.col-sm-12 :-ms-input-placeholder {  color: white; }

.blok.snelkiezer div.overviewItem, div.overviewItem .clearfix {padding: 0;}

.filtergroup .filterlist div.checkbox.drilled {margin-left: 25px;}

div.hulp { height: auto;}
div.hulp h2 {  top: 45%;}

/* --------------- */ 
/* typeahead style */
/* --------------- */ 

.typeahead, .tt-query, .tt-hint {
  width: 356px;
  height: 20px;
  padding: 8px 12px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead { background-color: #fff; }
.tt-hint { color: #999;  }
.tt-suggestion { padding: 3px 20px; font-size: 1em; line-height: 1.2em; }
.tt-suggestion.tt-cursor { color: #fff; background-color: #0097cf; }
.tt-suggestion p { margin: 0; }

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-dropdown-menu {
  width: -moz-calc(100% + 58px);
  width: -webkit-calc(100% + 58px);
  width: calc(100% + 58px);
  
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

/* ----------------------------------------------------------------------------------------------- */
/* fb emb posts, calendar styling, carousel item right, contact aligns on left if no img and share */
/* ----------------------------------------------------------------------------------------------- */
.fb-post {padding-bottom: 20px;}

.home .swiper-container .slide-content .highlighted {margin-left: 58.333%;}
.home .swiper-container .slide-content .highlighted .media-body .datum{left: -60px; top: 60px;}
.home .swiper-container .slider-pagination{right: -285px; left:auto;}

.hasDatepicker.fc.fc-ltr .fc-content .fc-view.fc-view-month.fc-grid .fc-event-container{display: none;} 

.aside .filtergroup.col-md-3.calendar #datepicker { margin-bottom: 0; margin-top: 0;}
.detail .filtergroup.col-md-3.calendar #datepicker { margin-bottom: 20px; margin-top: 0;}
.filter.filter-collapse.collapse.clearfix.algemeenfilter .filtergroup.col-md-3.calendar  + .clearfix {height: 10px;}

.blok.colorbg.lichtpaars.contacts .col-md-8.col-xs-8.pull-left{width: 100%;} 
section.blok.colorbg.lichtpaars.contacts h1.pull-left span.col-md-8.col-xs-8.col-md-offset-4.col-xs-offset-4 {margin-left: 0;}

/* ---------------------------------------------------------------------- */
/* testimonials */
/* ---------------------------------------------------------------------- */
.detail-content .contentarea .media.testimonial {
	padding-top: 0;
}

.detail-content .contentarea .media.testimonial h2{
	font-size: 1em;
}

.detail-content .contentarea .content blockquote h2.media-heading-testimonial{
	padding: 0 0 0 0;
}
.detail-content .contentarea .content blockquote h2.media-heading-testimonial:after {
	border-bottom: none;
	border-image: none;
}

/* ------------------------------------------------------------------------------------ */
/* html link colors, fix some width responsivnes related problems, medewerkers overview */
/* ------------------------------------------------------------------------------------ */
article.detail-content div.contentarea .content p a {
	color: #428bca;
}

@media (max-width : 767px) {
	.catalog.image.teasers section.blok.download.image {
		width: 46%;
		min-width: 280px;
		margin-right: 10px;
		float: left;
	}
} 

@media ( min-width :768px) and (max-width: 1199px) {
	.row .col-sm-4, .row asside .col-md-4 { padding-left: 0; padding-right: 0;}
}

.highlighted.col-md-9.medewerkers {margin-bottom: 0;}

/* ---------------------------------------------------------------------- */
/* facebook like box, print page style, breadcrumb has not fixed hight    */
/* ---------------------------------------------------------------------- */
.fbLikeShare{
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

.detail-content .contentarea .content .share a.fa-print {
	background: #e07760;
}

#breadcrumbs{
	height: auto;
	min-height: 29px;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* image teaser can be dark based on checkbox selection, ie scroll bar hulp problem, other color head teasers */
/* ---------------------------------------------------------------------------------------------------------- */
.blok.download .btn.darkLinkBackground {
	background: #23114c;
	color: #fff;
}

.blok.download .btn.darkLinkBackground:hover {
	background: #008383;
	color: #fff;
}

@-ms-viewport{ width: auto !important; }

.blok.colorbg.oranje {
	background: #FF6600;
}

.blok.colorbg.oranje a, .blok.colorbg.magenta a  {
	color: #fff;
}

.blok.colorbg.oranje .btn, .blok.colorbg.magenta .btn  {
	color: #fff;
	border-color: #fff;
}

.blok.colorbg.magenta {
	background: #CD00CD;
}

/* -------------------------------------------------------------------------------- */
/* Cookiemelding */
/* -------------------------------------------------------------------------------- */
#site_message { 
	background: #008383; 
	margin: 0;
	color: #FFFFFF;
	overflow: auto;
}

.row.disclaimer{	background: #008383; } 

#message_content p { margin: 0.5em 0; float: left;}
#message_content p a { color: #23114c;}

#message_content { width: 70%; display: block; float: left;}
#message_content p { width:80%}
#actions {width:30%; float:left; margin-right: 0px;}


.btn.fa.fa-times-circle-o.fa-lg {margin: 1em 0; padding: 4px 20px; }
.btn.fa.fa-times-circle-o.fa-lg:HOVER{ color: #23114c; }

#message_content  .fa.fa-info-circle.fa-3x{padding: 0 10px 0 20px; float: left; margin-top: 0.2em;} 

@media (min-width :350px) and (max-width: 991px) {
	#message_content { width: 100%; float:left;}
	#message_content p { width:80%}
	#actions {width: 100%; float: left;}
	#actions span.btn.fa.fa-times-circle-o.fa-lg {float:right; margin-top: 0; margin-bottom: 0; padding-top: 0;}
}

@media (max-width: 350px) {
	#message_content { width: 100%; float:left;}
	#message_content p { width:70%}
	#actions {width: 100%; float: left;}
	#actions span.btn.fa.fa-times-circle-o.fa-lg {float:right; margin-top: 0; margin-bottom: 0; padding-top: 0;}
}

/* ------------- */
/* Mobile issues */
/* ------------- */
@media (max-width: 500px) {
	/* bachelors facet page icon issue */
	.vindjestudie .overzicht .overzichtlijst a figure.media-object.pull-left { width: 50px; height: 50px; margin-right: 10px;}
	.vindjestudie .overzicht .overzichtlijst a figure.media-object.pull-left img {width: 70%; height: 70%}
	.vindjestudie .overzicht .overzichtlijst, 
	.vindjestudie .overzicht .overzichtlijst .media.clearfix.study {padding-left: 0; padding-right: 0; }
	
	/* lectoraten header title */
	#top {min-height: 55px; display: block; width: 100%;}
	#top .container > .navbar-header {min-height: 55px;}
	#top .navbar-header button {margin-top: 10px;}
	#top .navbar-header .navbar-brand {margin-top: 3px;}
}

@media (max-width: 767px) {
	/* lectoraten header title */
	.container.lectoraattitle {
		width: -moz-calc(100% - 180px);
		width: -webkit-calc(100% - 180px);
		width: calc(100% - 180px);
		
		padding-left: 0;
		padding-right: 5px;
		margin-left: 60px;
	}
	
	.container.lectoraattitle .row {
	 	margin-left: 0;
	 	margin-right: -7px;
	}
	 
	.container.lectoraattitle .col-md-7.col-sm-7.col-xs-10.col-md-offset-2.col-sm-offset-2.col-xs-offset-1 {
    	margin-left: 0; padding: 0; width: 95%;
    } 
    .container.lectoraattitle .row .col-md-7.col-sm-7.col-xs-10.col-md-offset-2.col-sm-offset-2.col-xs-offset-1 .table {
    	margin-bottom: 0;
    }
    
    .container.lectoraattitle .row .col-md-7.col-sm-7.col-xs-10.col-md-offset-2.col-sm-offset-2.col-xs-offset-1 
    .table .table-cell .centered h1 a span{
	    -ms-word-break: break-all;
	    word-break: break-all;
	
	 	/* Non standard for webkit */
	    word-break: break-word;
	
	    -webkit-hyphens: auto;
	       -moz-hyphens: auto;
	        -ms-hyphens: auto;
	            hyphens: auto;
    }

	/* bachelors detail page - info block - smaller icon */
	.col-md-4.col-sm-4.aside .blok.colorbg.lichtpaars.info {margin-left: 20px; } 
 	.col-md-4.col-sm-4.aside .blok.colorbg.lichtpaars.info figure.datum.large.info {
		width: 75px; height: 75px;
		left: -35px; top:-30px; padding-top: 15px; 
	}
	.col-md-4.col-sm-4.aside .blok.colorbg.lichtpaars.info figure.datum.large.info img.info{ width: 45px;}
}

/* ------------------------------------------------------------ */
/* back button same min width always  - chrome hovering problem */
/* ------------------------------------------------------------ */
.row a.btn.back{
	min-width: 260.5px;
}

@media ( min-width : 992px ) {
	.navbar .container .nav.navbar-nav#mainnav li:hover ul.dropdownmenu{
		display: block !important
	}
}

/* ---------------------------------------- */
/* mailplus-forms FLEXIBLE BLOCK and WIDGET */
/* ---------------------------------------- */
.mailplusform{
	background-color: white;
	padding-top: 10px;
}

.mailplusform form ul{ padding: 0 10px;}
.mailplusform form ul ul {padding: 0;}

.detail-content .contentarea .mailplusform form ul li,
.mailplusform form ul li{
	background-image: none;
	padding-left: 0;
	margin: 0 0 10px 0;
	list-style-type: none;
}

.mailplusform form ul li .mpFormLabel label{
	color: #23114c;
	font-family: 'source_sans_prosemibold';
	font-weight: 400;
	font-style: normal;
	font-size: 1.45em;
	display: block;
	float: none;
	width: auto;
}

.mailplusform form ul li .mpFormField,
.mailplusform form ul li .mpFormField textarea,
.mailplusform form ul li .mpFormField select,
.mailplusform form ul li .mpFormField input[type='text']:not([class~="mpDateField"]){
	width: 100%;
}

.mailplusform form ul li .mpFormField input,
.mailplusform form ul li .mpFormField select {
	padding: 6px 10px;
}

.aside .mailplusform form ul li .mpFormField input,
.aside .mailplusform form ul li .mpFormField select,
col-md-3.col-xs-12 .mailplusform form ul li .mpFormField input,
col-md-3.col-xs-12 .mailplusform form ul li .mpFormField select{
	padding: 3px 5px;
}


.mailplusform form ul li .mpFormField .ui-datepicker-trigger{
	border:none;
	width:37px;
	height:40px;
	margin-left: 5px;
	background-image: url("../images/calendar2.gif");
	background-repeat: no-repeat;
}

.mailplusform form ul li .mpFormField .mpDateField.mpDD,
.mailplusform form ul li .mpFormField .mpDateField.mpMM{
	width:20%;
}

.mailplusform form ul li .mpFormField .mpDateField.mpYYYY{
	width: 38%;	
}

.mailplusform form ul li .mpFormField ul li input[type='radio'],
.mailplusform form ul li .mpFormField ul li input[type='checkbox'] {
	margin-right: 10px;
	display: none;
}

.mailplusform form ul li .mpFormField ul li input[type='radio'] +label:before,
.mailplusform form ul li .mpFormField ul li input[type='checkbox'] +label:before  {
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	float: left;
	margin: 0 10px 0 0;
}

.mailplusform form ul li .mpFormField ul li input[type='checkbox'] +label:before {
	background: url("../img/checkbox.png") center center no-repeat;
	background-size: 20px 20px;
}

.mailplusform form ul li .mpFormField ul li input[type='radio'] +label:before {
	background: url("../img/radiobutton.png") center center no-repeat;
	background-size: 20px 20px;
}
.mailplusform form ul li .mpFormField ul li input[type='checkbox']:checked +label:before {
	background: url("../img/checkbox-checked.png") center center no-repeat;
	background-size: 20px 20px;
}

.mailplusform form ul li .mpFormField ul li input[type='radio']:checked +label:before {
	background: url("../img/radiobutton-checked.png") center center no-repeat;
	background-size: 20px 20px;
}

.mailplusform form ul li .mpFormField ul li input[type='radio'] +label, 
.mailplusform form ul li .mpFormField ul li input[type='checkbox'] +label,
.mailplusform form ul li .mpFormField label {
	font-size: 1em;
	color: #666;
	font-family: 'source_sans_proregular';
	font-weight: 400;
	font-style: normal;
	cursor: pointer;
}

.mailplusform form ul li  .submitButton{
	position: relative !important;
	background: #23114c;
	width: 140px;
	height: 40px;
	margin-left: 0;
	font-family: 'source_sans_prosemibold';
	font-weight: 400;
	font-style: normal;
	font-size: 1.6em;
	border-width: 0;
	color: white;
}

/* --------------------------------------------------------- */
/* change header structure, take searchbox out of navigation */
/* --------------------------------------------------------- */

.navbar-searchbox{	
	margin-right: -15px;
	margin-left: -15px;
	display: block;
	padding-right: 15px;
	padding-left: 15px;
}

@media (max-width: 767px) {
	.navbar-searchbox {
		border: 0;
		background: #fff;
	}
}

@media (max-width: 767px) {
	.navbar-searchbox .navbar-form {
		margin: 0;
		padding-left: 0;
		padding-right: 0;
		position: relative;
	}
}

@media (max-width: 767px){
	.navbar-searchbox .navbar-form .form-group input {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		border-color: #999;
		height: 30px;
		width: 100%;
		font-family: 'source_sans_prolight';
		font-weight: 400;
		font-style: normal;
		color: #666;
		padding: 7px 10px 5px;
	}
	
	.navbar-searchbox .navbar-form .btn {
		position: absolute;
		right: 0;
		top: 10px;
		width: 68px;
		height: 30px;
		background: #008383;
		color: #fff;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		padding: 0;
		border: 0;
		font-size: 1.357em;
		margin-left: -15px;
	}
	
	.navbar-searchbox .navbar-form .btn span {
		text-indent: -9999px;
		display: inline-block;
	}
}

/* equal height home page issue */
.home#main > .container .row.first {	
	margin: 0;
}

@media (min-width : 652px) and (max-width : 767px) {  
	.home .headteaser {
		width:100%;
	}
}

/* paginator on top of bachelor items plus some styling */

.paginator-style .pager {
	margin: 0;
}
.overzichtlijst .paginator-style .pager{
    padding-left: 0;
}

.hst-cmseditlink{
	z-index: 100;
}