/* ------- */
/* topmenu */
/* ------- */

.nav#mainnav ul.dropdownmenu.visible-lg.visible-md.clearfix li ul li ul
	{
	padding-left: 0;
	padding-bottom: 0;
	padding-top: 0;
}

#main.landing .col-sm-6.col-md-3.area ul li.arrow-side ul {
	padding-left: 0;
	padding-bottom: 0;
	padding-top: 0;
}

/* ------------- */
/* public images */
/* ------------- */

.images2 + .pager-wrapper .pager ul li,  
.images3 + .pager-wrapper .pager ul li, 
.images4 + .pager-wrapper .pager ul li { list-style: none; background: none; padding-left: 10px; }

.images2 { width: 100%; float: left; }

.images2 .singleImage { width: 50%; float: left; margin-bottom: 2%; }

.images2 .singleImagePadding { width: 95%; float: center; margin-left: 2.5%; }

.images2 .singleImagePadding img { display: block; width: 100%; float: left; }

.images2 .singleImagePadding img { display: block; width: 100%; float: left; }

.images3 { width: 100%; float: left; }

.images3 .singleImage { width: 33.333%; float: left; margin-bottom: 2%; }

.images3 .singleImagePadding { width: 95%; float: center; margin-left: 2.5%; }

.images3 .singleImagePadding img { display: block; width: 100%; float: left; }

.images4 { width: 100%; float: left; }

.images4 .singleImage { width: 25%; float: left; margin-bottom: 2%; }

.images4 .singleImagePadding { width: 95%; float: center; margin-left: 2.5%; }

.images4 .singleImagePadding img { display: block; width: 100%; float: left; }

/* -------------------- */
/* flexible block image */
/* -------------------- */

figure.fexibleblock.image img {
	width: 100%;
}

/* -------------------- */
/* flexible block paragraph image */
/* -------------------- */
.detail-content .row .contentarea .content figure.left,
.detail-content .row .contentarea .content figure.right {
	width: 47.5%
}

/* ------- */
/* twitter */
/* ------- */

.button-block.twitter {
	width: 100%;
	float: left;
}

.button-block.twitter img {
	width: 100%;
}

.twitteritem h2 {
	margin-bottom: 0;
}

.twitteritem h3 {
	margin-top: 0;
	margin-bottom: 0;
}

.aside .button-block.twitter .col-sm-4,.aside .button-block.twitter .col-sm-4.half
	{
	width: auto;
}

.button-block.twitter .col-sm-4.half {
	width: 50%;
}

/* ---------------- */
/* facet navigation */
/* ---------------- */

.filterlist .checkbox .cbimg {
	padding-right: 10px;
}

/* --------------------- */
/* temporary blog author */
/* --------------------- */

.panel-body p {
	margin: 0;
}

.panel-body .pull-left {
	margin-right: 10px;
}

.panel-body .media-body {
	width: 50%;
	padding: 0;
}

.panel-body .media-body ul.social {
	list-style-type: none;
	width: 100%;
	padding: 0;
	display: block;
	float: left;
	margin-top: 5px;
	margin-bottom: 20px;
}

.panel-body .media-body ul.social li {
	display: inline;
	float: left;
	background: #23114c;
	width: 20px;
	height: 20px;
	text-align: center;
	margin-left: 7px;
}

.panel-body .media-body ul.social li a {
	color: rgb(255, 255, 255);
	margin-top: 3px;
}

/* ----------------- */
/* faq overview page */
/* ----------------- */

.media-body.accordian h2.media-heading {
	width: 90%;
	float: right;
}

.media-body.accordian+div {
	width: 90%;
	float: right;
}

.media-body.accordian+div blockquote {
	float: left;
}

/* ------------- */
/* lectorat page */
/* ------------- */

.col-md-8.col-sm-8.contentarea .content+div.content {
	padding-top: 0;
}

/* ----------------------------- */
/* left naavigation highlighting */
/* ----------------------------- */

.subnav ul li.active a {
	background: #c8c3d2
}

.subnav ul li.active ul li.arrow-side a {
	background-color: white;
	font-family: source_sans_prolight;
}

.subnav ul, .subnav ul li.active ul li.arrow-side a:after {
	border-top: none;
}

.subnav ul li.active, .subnav ul li.current, .subnav ul li.active ul li.arrow-side a:after {
	border-bottom: none;	
}

/* ------------ */
/* image teaser */
/* ------------ */

.blok.download.image img.icon.imageTeaser {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 40%;
	margin: -50px 0 0 -50px;
	padding: 15px;
	background: center #fff;
}

.catalog.image.teasers,.blok.download.image,.blok.download.image a .img img
	{
	width: 100%;
}

.catalog.image.teasers section.blok.download.image {
	padding: 0;
	margin: 20px 0;
}

/* ------------------- */
/* landing page titels */
/* ------------------- */

.col-sm-6.col-md-3.area .truncate {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* ------------- */
/* related items */
/* ------------- */

.aside .overzichtlijst.related,.content .overzichtlijst.related,nav.col-md-3.col-xs-12 .overzichtlijst.related
	{
	padding: 0;
}

.aside .overzichtlijst.related article,.content .overzichtlijst.related article,nav.col-md-3.col-xs-12 .overzichtlijst.related article
	{
	padding-top: 0;
	padding-bottom: 12px;
	padding-left: 10px;
	padding-right: 0;
}

.aside .overzichtlijst.related article a,.content .overzichtlijst.related article a,nav.col-md-3.col-xs-12 .overzichtlijst.related article a
	{
	width: 100%;
	display: block;
}

.aside .overzichtlijst.related figure.media-object.pull-left,nav.col-md-3.col-xs-12 .overzichtlijst.related figure.media-object.pull-left
	{
	margin-right: 10px;
	width: 60px;
	height: 60px;
}

.content .overzichtlijst.related figure.media-object.pull-left {
	margin-right: 10px;
	width: 100px;
	height: 100px;
}

.aside .overzichtlijst.related .media .datum,nav.col-md-3.col-xs-12 .overzichtlijst.related .media .datum
	{
	left: 10px;
	top: 20px;
}

.content .overzichtlijst.related .media .datum {
	left: 10px;
	top: 60px;
}

.aside .overzichtlijst.related a.more,.content .overzichtlijst.related a.more,nav.col-md-3.col-xs-12 .overzichtlijst.related a.more
	{
	margin-top: 0;
	margin-bottom: 15px;
}

.aside .overzichtlijst.related h2.widgetTitle,
.content .overzichtlijst.related h2.widgetTitle,
.detail-content .overzichtlijst.related h2.widgetTitle,
nav.col-md-3.col-xs-12 .overzichtlijst.related h2.widgetTitle
	{
	font-size: 1.571em;
	color: #23114c;
	font-family: 'source_sans_proregular';
	font-weight: 400;
	font-style: normal;
	font-weight: 400;
	display: inline-block;
	margin: 0 0 0.7em 0;
	padding-left: 10px;
	padding-top: 10px;
}

/* -------------------- */
/* info block bachelors */
/* -------------------- */
.col-md-4.col-sm-4.aside figure.datum.large.info {
	position: absolute;
	left: -50px;
	top: -60px;
	padding-top: 20px;
	z-index: 1
}

.col-md-4.col-sm-4.aside time.datum.large.info {
	position: absolute;
	left: -50px;
	top: -60px;
	z-index: 1
}

.col-md-4.col-sm-4.aside figure.datum.large.info img.info {
	width: 60px;
}

.aside section.blok.colorbg.lichtpaars.info {
	display: block;
} 

.aside section.blok.colorbg.lichtpaars.info.nolink {
	display: block;
	padding-bottom: 30px;
}

.aside section.blok.colorbg.lichtpaars.info ul {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 1em;
} 

.aside section.blok.colorbg.lichtpaars.info ul li {
	display: block;
	float: left;
	padding-left: 0;
}

.aside section.blok.colorbg.lichtpaars.info ul li img {
	display: block;
	float: left;
}

.aside section.blok.colorbg.lichtpaars.info ul li span.details {
	display: block;
	float: left;
	padding-left: 10px;
}

.aside section.blok.colorbg.lichtpaars.info p {
	display: block;
}

.aside section.blok.colorbg.lichtpaars.info a {
	display: block;
	float: left;
} 

.aside section.blok.colorbg.lichtpaars.info img.datum.large {
	padding-top: 0;
}

/* --------------- */
/* bachelors facet */
/* --------------- */
#main { min-height: 650px; }

.studiefilter.filter-collapse ul li {
	padding-left: 0;
}

.studiefilter.filter-collapse ul li a {
	display: block;
	float: left;
	width: 100%;
}

.studiefilter.filter-collapse ul li a img.cbimg {
	position: absolute;
	top: -1px;
	z-index: 2;
}

.studiefilter ul li label {
	padding-left: 38px;
}

.studiefilter.filter-collapse ul li a:hover {
	text-decoration: none;
}

/* ------------------------------------------------------------ */
/* text, internal and external teasers can display on the right */
/* ------------------------------------------------------------ */

nav.col-md-3.col-xs-12 .catalog.internalLinks.teasers .col-sm-6,nav.col-md-3.col-xs-12 .catalog.externalLinks.teasers .col-sm-6,nav.col-md-3.col-xs-12 .catalog.text.teasers .col-sm-6,.aside .catalog.internalLinks.teasers .col-sm-6,.aside .catalog.externalLinks.teasers .col-sm-6,.aside .catalog.text.teasers .col-sm-6
	{
	width: 100%;
}

nav.col-md-3.col-xs-12 .catalog.internalLinks.teasers .tekstitem ul li,nav.col-md-3.col-xs-12 .catalog.externalLinks.teasers ul li,.aside .catalog.internalLinks.teasers .tekstitem ul li,.aside .catalog.externalLinks.teasers ul li
	{
	padding-left: 20px;
	background: url("../img/li.png") 2px 6px no-repeat;
	background-size: 6px 6px;
}

/* ------------------------------------------------ */
/* image and head teasers can display in the middle */
/* ------------------------------------------------ */

.content .catalog.head.teasers,.content .catalog.image.teasers {
	width: 100%;
}

.content .catalog.head.teasers .blok.colorbg.blauw.large a h1 {
	color: rgb(255, 255, 255);
	font-size: 3.429em;
	margin-bottom: 0px;
	line-height: .8em;
}

.content .catalog.head.teasers .blok.colorbg.blauw.large a h2,.content .catalog.head.teasers .blok.colorbg.groen.medium a h2
	{
	color: rgb(255, 255, 255);
	font-size: 1.714em;
	margin-bottom: 0px;
	line-height: 1.1;
	font-family: source_sans_prolight;
}

.content .catalog.head.teasers .blok.colorbg.groen.medium a h1 {
	color: rgb(255, 255, 255);
	font-size: 2.571em;
	margin-bottom: 0px;
	line-height: .8em;
}

/* ------------------------------------ */
/* contact widget can display on center */
/* ------------------------------------ */

.content .blok.colorbg.lichtpaars.contacts figure.col-md-4.col-xs-4.pull-left
	{
	width: 33.33333333% !important;
}

.content .blok.colorbg.lichtpaars.contacts h1 {
	font-size: 1.5em;
}

.content .blok.colorbg.lichtpaars.contacts h2 {
	font-size: 1.2em;
}

.content .blok.colorbg.lichtpaars.contacts ul.col-md-8.col-xs-8.pull-right li
	{
	margin: 0;
	background: none;
	padding: 0;
	padding-left: 15px;
}

